body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 200px;
}

.App-header {
  background-color: #222;
  height: 250px;
  padding: 20px;
  color: white;
}
h2{
  font-size: 50px;
}
.App-intro {
  color:aqua;
  font-size: 50px;
  margin-top: 150px;
}
.Author{
  text-align: center;
  position: absolute;
  bottom: 10px;
  left:45%;
}
.App-heading-container{
  padding-top: 30px;
  padding-left: 50px;
  padding-right:50px;
  text-align: center;
  font-size: 100px;
}
.App-heading-content{
  border-bottom: 2px solid white;
}
.slide-full-image{
  height: 100%;
  width:100%;
}
.imageContainer {
    text-align: center;
}

.imageContainer:before {
    content: '';
    height: 100 % ;
    display: inline-block;
    vertical-align: middle;
}

.imageContent {
    display: inline-block;
    vertical-align: middle;
}
.highlightBlue{
  color:aqua;
}
.listContainer{
  font-size: 50px;
  padding-left: 100px;
}
li{
    padding-bottom: 25px;
}
.small li{
  padding-bottom: 15px;
}
.importantText{
  text-align: center;
  font-size: 70px;
}
.marTop_15{
  margin-top: 15px;
}
.thankyou{
position: absolute;
top: 15%;
left: 30%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
